
body{
    background-color:rgb(232, 238, 238);
    display: flex;
    justify-content: center;;
}
.registerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    max-width:500px;
    margin-top: 100px;
    background-color: white;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.registerLink {
    margin-top:30px; 
    text-decoration:none;
    display: flex;
    justify-content:center;
}
.btnSubmit{
width: 400px;
margin-top: 30px;
}    
.form{
margin-right: 30px;
margin-left: 30px;
}